h1 big {
	font-weight: bold;
	color: #bc290e;
	margin: 2rem 0 1rem;
	display: block;
}

h2 {
	margin-top: 6rem;
}

p {
	max-width: 35rem;
	margin: auto;
}

p + p {
	margin-top: 1em;
}

h3 {
	margin: .1em 0 .25em;
}

.highlight, .links {
	list-style: none;
	padding: 0;
	margin: 2rem 0;
	text-align: center;
}

.highlighted {

	a {
		text-decoration: none;
	}

	img {
		display: block;
		width: 12rem;
		height: 12rem;
		margin: 0 auto 1em;
		border: 1px solid #eee;
		border-radius: 50%;
	}
}

.flex-icons {
	display: flex;
	margin: -.5rem -.5rem;
	padding: 0;
	list-style: none;
	justify-content: center;
	flex-wrap: wrap;

	li {
		width: 50%;
		text-align: center;

		@media (min-width: 40rem) {
			width: 25%;
		}
	}

	img {
		width: 6rem;
		height: 6rem;
		display: block;
		margin: 1em auto;
		border: 1px solid #eee;
		border-radius: 50%;
	}

}

.flex-people {
	display: flex;
	margin: -.5rem -2rem;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;

	> li {
		width: 100%;

		@media (min-width: 40rem) {
			width: 50%;
		}

		@media (min-width: 60rem) {
			width: 33.3%;
		}
	}
}

.candidate {
	padding: 1rem;
	border: 1px solid #eee;
	border-radius: 1rem;
	margin: .25rem;

	h3 {
		font-size: 1rem;
		margin: 0 5rem .5em 0;
	}
}

table {
  width: 100%;
}

table + .btns {
  margin-top: 3rem;
}

th {
  padding: .2em .6rem;
  text-align: left;

  &:not(:first-child) {
    white-space: nowrap;
    text-align: right;
  }
}

thead th {
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

td {
  padding: .4em .6rem .6em;
  border-top: 1px solid #eee;
	vertical-align: baseline;

	@media (min-width: 40rem) {
		vertical-align: middle;
	}

  &:not(:first-child) {
    text-align: right;
  }

  &.small {
    font-size: 12px;
  }
}

td, th {
  &.show-40rem {
    @media (min-width: 40rem) {
      display: table-cell;
    }
  }

	&.short {
		width: 3rem;
	}

	&.long {
		width: 6rem;

		@media (min-width: 40rem) {
			width: auto;
		}
	}
}

@media (max-width: 40rem) {
	thead {
		display: none;
	}

	table, tbody, tr, td {
		display: block;
	}

	td {
		border-top: none;
		text-align: left !important;
	}

	tr + tr {
		border-top: 1px solid #eee;
	}

	h3 {
		margin-top: .25em;
	}
}

.icons {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
	}
}

.icon {
	display: inline-block;
	margin-right: .5em;
	position: relative;
	top: .4em;
}

.info div {
	display: inline;
}

.box-content {
	margin: 0 -1.5rem -1.5rem;
}

.btns-switch {
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	> * {
		width: 10rem;
	}
}

.block-promo {
	background: #f7f7f7;
	border-top: 3px solid #003399;
	border-bottom: 3px solid #003399;
}

.value {
	position: relative;
}

.value-graph {
	position: absolute;
	left: 0;
	top: -.5em;
	bottom: -.5em;
	opacity: .5;

	&.first {
		right: 0;
		left: auto;
	}
}

.value-number {
	position: relative;
	z-index: 2;
}

.limit {
	width: 3rem;
	white-space: normal;
	margin: 1em 0;
}

.table-second {
	td:nth-child(2) {
		padding-right: 0;
	}
	td:nth-child(3) {
		padding-left: 0;
	}
	.value-graph {
		opacity: .2;
	}
}.region-number {
  display: inline-block;
  width: 2rem;
  text-align: right;
  color: #aaa;
}

.flex {
  display: flex;
  width: 100%;
  align-items: baseline;

  .fm {
    flex: 1;
    display: block;
  }

  small {
    text-align: right;
    width: 2rem;
  }
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.election-item {
  padding: 1rem 0;
  border-top: 1px solid #eee;

	.logo-holder {
	  display: inline-block;
	  width: 3.25rem;
	  position: relative;
	}

	.logo {
	  position: absolute;
	  width: 2.5rem;
	  height: 2.5rem;
	  top: -1.5rem;
	  border-radius: 50%;
	  border: 1px solid #eee;
	}
}

.election-item-header {
  position: relative;

  .icon {
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    line-height: 1;
  }
}

.columns-2-3 {
	column-gap: 3rem;
}
