<div class="layout-homepage">
	<ul class="highlight">
		<li>
			<div class="highlighted">
				<a href="https://eu19.programydovoleb.cz/">
					<img src="/static/icon/icon-evropa19.png" alt="ikona: volby do evropskeho parlamentu">
					<span class="is-link">Evropské volby</span>
				</a>
			</div>
		</li>
	</ul>
	<div class="block">
		<h1>Volby do Evropského parlamentu</h1>
		<p>Nové europoslance vybírá celá Evropa.</p>
		<p>Volby v ČR se konají 24. a 25. května.</p>
		<p>Češi vybírají 21 zástupců.</p>
		<ul class="links">
			<li><a href="https://eu19.programydovoleb.cz/" target="_blank">Co náš čeká</a></li>
			<li><a href="https://eu19.programydovoleb.cz/europoslanci-2014-2019" target="_blank">Přehled europoslanců</a></li>
			<li><a href="https://eu19.programydovoleb.cz/vysledky-2014" target="_blank">Výsledky voleb 2014</a></li>
		</ul>
	</div>
</div>
