<div class="election-type">
	<div class="election-type-header" @click="toggleVisible">
		<span class="is-link">{{ election.name }}</span>
		<span class="icon red" v-if="opened">&times;</span>
		<span class="icon blue" v-if="!opened">&plus;</span>
	</div>
	<div class="election-type-content" v-if="opened">
		<h4>O volbách</h4>
		<p v-html="election.desc"></p>
		<h4>Přehled voleb</h4>
		<ul class="elections">
			<li v-for="(item, index) in election.list" v-if="item.type === 'regular'">
				<router-link :to="'/vysledky/volby/' + election.hash + '/' + item.id" class="button button-primary">{{ item.label }}</router-link>
			</li>
			<li v-if="election.older">
				<outbound-link href="https://volby.cz/" content="Starší" class="button" />
			</li>
		</ul>
		<template v-if="election.extra">
			<h4>Mimořádné a doplňovací volby</h4>
			<ul>
				<li v-for="(item, index) in election.list" v-if="item.type === 'extra'">
					<router-link :to="'/vysledky/volby/' + election.hash + '/' + item.id">{{ item.label }}</router-link>
				</li>
			</ul>
		</template>
	</div>
</div>
