<span class="logo-item">
	<span class="logo-outer" :style="{width: sizeValue, height: sizeValue, 'border-color': color ? partyData.color : '#eee'}">
		<img :src="$store.state.server + partyData.logo" v-if="partyData.logo" class="logo-circle">
		<span v-if="!partyData.logo && !partyData.coalition" :style="{background: partyData.color}" class="logo-circle" />
		<span v-if="!partyData.logo && partyData.coalition" class="logo-circle">
			<span class="logo-coalition">
				<span v-for="(party, index) in coalition" :style="{background: party.color, height: sizeValue}" />
			</span>
		</span>
	</span>
</span>
