<div id="app">
	<main-header name="Doplňovací volby do Senátu" />
	<main class="block">
		<router-view></router-view>
	</main>
	<main-footer>
		<h4><router-link to="/">Programy do voleb</router-link></h4>
		<ul class="footer-menu dark-links">
			<li><router-link to="/tykaji-se-me-volby">Týkají se mě volby?</router-link></li>
			<li><outbound-link href="https://krajskevolby2020.programydovoleb.cz" :addon="false" title="Krajské volby">Krajské volby</outbound-link></li>
			<li><outbound-link href="https://senatnivolby2020.programydovoleb.cz" :addon="false" title="Senátní volby">Senátní volby</outbound-link></li>
			<li><outbound-link href="https://polist.cz" :addon="false" title="Politika, Statistika">Polist</outbound-link></li>
		</ul>
	</main-footer>
</div>
