<div class="layout-results-location">
	<div class="loading" v-if="!town">
		<h1>Načítám...</h1>
	</div>
	<div class="loaded" v-if="town">
		<h1 v-if="hierarchy.tree.length === 5">{{ town.name }}</h1>
		<h1 v-if="hierarchy.tree.length === 6">{{ hierarchy.tree[4].name }}<br><small><span class="dimm">část</span> {{ town.name }}</small></h1>
		<div class="hierarchy">
			<div class="item">
				{{ hierarchy.tree[2].name }}
			</div>
			<div class="item">
				Okres:
				{{ hierarchy.tree[3].name }}
			</div>
			<div class="item" v-if="hierarchy.tree.length === 6">
				Součást obce:
				<router-link :to="'/vysledky/obec/' + hierarchy.tree[4].num + '-' + betterURL(hierarchy.tree[4].name)">{{ hierarchy.tree[4].name }}</router-link>

			</div>
			<div class="item" v-if="town.obvod">
				Senátní obvod:
				<router-link :to="'/vysledky/obvod/' + town.obvod.id + '-' + betterURL(town.obvod.name)">
					{{ town.obvod.id }} &middot; {{ town.obvod.name }}
				</router-link>
			</div>
			<div class="item" v-if="hierarchy.tree.length === 5 && hierarchy.tree[4].list">
				Městské části:
				<span class="column" v-for="(part, index) in hierarchy.tree[4].list">
					<router-link :to="'/vysledky/obec/' + part.num + '-' + betterURL(part.name)">{{ part.name }}</router-link>
					<span v-if="index < hierarchy.tree[4].list.length - 1">&middot; </span>
				</span>
			</div>
		</div>
		<h2>Historie voleb</h2>
		<election-timeline :elections="elections" />
		<template v-if="hierarchy.tree.length === 6">
			<h2>Okolní části</h2>
			<div class="columns">
				<div class="item" v-for="(part, index) in hierarchy.tree[4].list">
					<router-link :to="'/vysledky/obec/' + part.num + '-' + betterURL(part.name)">{{ part.name }}</router-link>
				</div>
			</div>
		</template>
		<h2>Okolní obce</h2>
		<div class="columns">
			<div class="item" v-for="(part, index) in hierarchy.tree[3].list">
				<router-link :to="'/vysledky/obec/' + part.num + '-' + betterURL(part.name)">{{ part.name }}</router-link>
			</div>
		</div>
		<h2>Hledat jinou obec</h2>
		<search-all-towns />
	</div>
</div>
