.election-item {
  padding: 1rem 0;
  border-top: 1px solid #eee;
}

.election-item-header {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .icon {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    line-height: 1;
    top: -.2em;
    font-family: sans-serif;
    font-weight: 100;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  transform-origin: 51% 62%;
  animation: rotate 2s infinite;
  animation-timing-function: linear;
  // top: -.4em !important;
}
