<div class="election-item">
	<div class="election-item-header" @click="toggleVisible">
		<span class="is-link">{{ election.data.label || election.name }}</span>
		<span class="icon red" v-if="opened && !loading">&times;</span>
		<span class="icon blue" v-if="!opened && !loading">&plus;</span>
		<span class="icon loading" v-if="loading">&#x2237;</span>
	</div>
	<div class="election-item-content" v-if="opened">
		<results-element :global="election.data.global" :local="election.data.local" :type="election.type" :reg="reg" />
		<div class="note">
			Zdroj dat: <outbound-link :href="election.data.about.csu.link" content="ČSÚ" />, <outbound-link :href="election.data.about.csu['open-data']" content="otevřená data" />, <outbound-link :href="'https://github.com/ProgramyDoVoleb/public/tree/master/' + election.data.about.path" content="Github" />
		</div>
	</div>
</div>
