.results-parties-table {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 0rem;
  margin: 0 -1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: .4rem 1rem;
}

button {
  border: none;
  padding-left: 0; 
}

li:not(.headline) {
  padding: .2rem 1rem;
  border-top: 1px solid #eee;
  position: relative;
}

.headline {
  font-size: 10px;
  text-transform: uppercase;
}

.headline + .headline {
  margin-top: -.8rem;
}

.party {
  display: flex;
}

.party-graph {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 10%;
  right: 0;
  pointer-events: none;
  z-index: 0;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #f7ecec;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    .progress & {
      background: #ecf7ed
    }

    .below & {
      background: #f4f4f4
    }
  }

  &.local {
    .party-graph-local {

    }
    .party-graph-global {
      display: none
    }
  }
}

.progress {
  // background: #fafafa;
}

.party-about {
  flex: 1;
  position: relative;
  z-index: 1;

  .dimm {
    display: none;

    @media (min-width: 40rem) {
      display: inline;
    }
  }
}

.party-result {
  // width: 10rem;
  display: flex;
  text-align: right;
  position: relative;
  z-index: 1;

  > div {
    width: 5rem;

    span {
      display: block;
    }
  }

  @media (min-width: 40rem) {
    // width: 12rem;

    > div {
      width: 6rem;
    }
  }
}

.party-result-votes {
  display: none;

  @media (min-width: 40rem) {
    display: block;
  }
}
