<div class="layout-party">
	<div v-if="!party">
		<h1>Načítám...</h1>
	</div>
 	<article v-if="party">
		<div class="logo" v-if="party.logo">
			<img :src="$store.state.server + party.logo" :alt="party.name">
		</div>
		<h1 v-html="party.short || party.name"></h1>
		<section class="stats">
			<ul>
				<li>
					<label>Celý název</label>
					<div v-html="party.name"></div>
				</li>
				<li v-if="party.short">
					<label>Zkratka</label>
					<div v-html="party.short"></div>
				</li>
				<li v-if="party.activity.last > 0">
					<label>Poslední volby</label>
					<div>
						<router-link :to="lastElection.link">
							{{ lastElection.name }}
						</router-link>
						<br>
						{{ beautifyDate(lastElection.date) }}
					</div>
				</li>
				<li v-if="party.coalition">
					<label>Koalice</label>
					<div>
						<div v-for="(coal, index) in party.coalition" class="coalition-member">
							<party-name-with-dot :reg="coal" />
						</div>
					</div>
				</li>
				<li v-if="party.links && party.links.global && party.links.global.length > 0">
					<label>Odkazy</label>
					<div>
						<div class="columns">
							<div v-for="(link, index) in links" class="link">
								<img :src="link.icon.src" :alt="link.icon.name" class="link-icon">
								<outbound-link :href="link.link" :content="link.content" :addon="false" />
							</div>
						</div>
					</div>
				</li>
				<li>
					<label>Identifikátor</label>
					<div v-html="party.reg"></div>
				</li>
				<li>
					<label>Barva</label>
					<div>
						<i class="dot" :style="{background: party.color}"></i> {{ party.color }}
					</div>
				</li>
			</ul>
		</section>
		<h2 v-if="!party.coalition">Koalice</h2>
		<div class="section" v-if="party.memberOf && party.memberOf.length > 0">
			<h3><span v-html="party.short || party.name"></span> jako součást koalice</h3>
			<div class="columns">
				<div class="item" v-for="(result, index) in memberOf" v-if="index < 9">
					<router-link :to="'/rejstrik/' + result.reg + '-' + result.hash">
						<party-name-with-dot :reg="result.reg" :alwaysName="true" />
					</router-link>
					<div class="members">
						<div class="member" v-for="(member, index2) in result.coalition">
							<party-name-with-dot :reg="member" :alwaysShort="true" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<section v-if="party.usualCoalitionWith && party.usualCoalitionWith.length > 0">
			<h3>Partneři do koalice</h3>
			<div>
				<ul class="columns">
					<li v-for="(item, index) in party.usualCoalitionWith">
						<div>
							<party-name-with-dot :reg="item.reg" :alwaysShort="true" /> &middot; {{ item.count }}&times;
						</div>
					</li>
				</ul>
			</div>
		</section>
 	</article>
	<nav class="goto">
		<router-link to="/rejstrik">&larr; Seznam všech stran</router-link>
	</nav>
</div>
