.split-1-1,
.split-2-3 {
  align-items: center;

  h3 {
    margin: 0;
    padding: 0;
  }

  .icons {
    font-size: 1.5rem;
    position: relative;
    top: .15em;
  }
}

img {
  display: inline-block;
  vertical-align: baseline;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: .5em;
}

.split {
  display: flex;

  & > div {
    width: 50%;
  }
}
