<div class="candidate-detail" :class="{compact: compact}">
	<div class="candidate-data">
		<div class="box" :style="{'border-left': '3px solid ' + color}">
			<div class="box-content">
				<div class="columns-2" v-if="!compact && !hp">
					<div class="stats">
						<ul>
							<li v-if="data.member">
								<label>Členství</label>
								<div>
									<party-polist :reg="data.member" v-if="typeof data.member === 'number'" :breakpoint="1000" />
									<span v-if="typeof data.member === 'string'">{{ data.member }}</span>
								</div>
							</li>
							<li v-if="data.nominee">
								<label>Nominovace</label>
								<div>
									<party-polist :reg="data.nominee" v-if="typeof data.nominee === 'number'" :breakpoint="1000" />
									<span v-if="typeof data.nominee === 'string'">{{ data.nominee }}</span>
								</div>
							</li>
							<li v-if="data.support">
								<label>Podpora</label>
								<div>
									<div v-for="(support, ix) in data.support">
										<span v-if="typeof support === 'string'">
											{{ support }}</span>
										<span v-if="typeof support === 'number' && support != 99">
											<party-polist :reg="support" :breakpoint="1000" />
										</span>
									</div>
								</div>
							</li>
							<li v-if="data.age">
								<label>Věk</label>
								<div>
									{{ data.age }} let
								</div>
							</li>
							<li v-if="data.work">
								<label>Zaměstnání</label>
								<div>
									{{ data.work }}
								</div>
							</li>
							<li v-if="data.from && data.fromID">
								<label>Bydliště</label>
								<div>
									<outbound-link :content="data.from" :href="'https://www.polist.cz/obec/' + data.fromID" />
								</div>
							</li>
						</ul>
					</div>
					<div class="stats">
						<ul>
							<li v-if="links.length > 0">
								<label class="show-60rem">Odkazy</label>
								<div>
									<div class="col">
										<div v-for="(link, index) in links" class="link">
											<img :src="link.icon" alt="" class="link-icon">
											<outbound-link :href="link.url" :title="link.type + ' ' + data.name[2]" :addon="false">{{ link.name }}</outbound-link>
										</div>
									</div>
								</div>
							</li>
							<li>
								<label>Číslo</label>
								<div>{{ data.id }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="part">
		<p v-if="data.wiki" v-html="data.wiki.content"></p>
		<p v-if="data.wiki" class="small">Zdroj: <outbound-link :href="data.wiki.link">Wikipedia</outbound-link></p>
	</div>
</div>
