p {
	max-width: 35rem;
	margin: auto;
}

h2 {
	margin: 0 0 1em;
}

.highlight, .links {
	list-style: none;
	padding: 0;
	margin: 2rem 0 1rem;
	text-align: center;
}

.highlighted {

	a {
		text-decoration: none;
	}

	img {
		display: block;
		width: 12rem;
		height: 12rem;
		margin: 0 auto 1em;
		border: 1px solid #eee;
		border-radius: 50%;
	}

	.answer-icon {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(130%, -25%);
		border: none;
		border-radius: 0;
		width: 4rem;
		height: 4rem;
	}
}

.candidate-answer + .candidate-answer {
	border-top: 1px solid #eee;
	margin-top: 1rem;
}
