<div class="layout-homepage">
	<div class="block">
		<ul class="highlight">
			<li>
				<div class="highlighted">
					<img src="/static/icon/senatni-volby.svg" alt="ikona: volby do krajských zastupitelstev">
					<img src="/static/icon/answers.svg" alt="ikona: otázky" class="answer-icon">
				</div>
			</li>
		</ul>
		<div class="part center">
			<h1>
				4 otázky<span v-if="id"> pro:<br><person-name :data="getCandidate().name" /></span>
			</h1>
			<p v-if="!id">Kandidátů do Senátu jsme se zeptali na 4 otázky:</p>
			<p v-if="id && getCandidate().answers"><a href="#profil">Přeskočit na krátký profil</a>.</p>
			<p v-if="id && !getCandidate().answers"><person-name :data="getCandidate().name" /> zatím neodpověděl{{ getCandidate().sex === 'f' ? 'a' : '' }}.</p>
		</div>
		<div class="part" v-if="senate20_3 && (!id || getCandidate().answers)" v-for="(q, questionIndex) in questions">
			<h2 v-if="!id">{{ q }}</h2>
			<candidate-fake :question="getQuestion(questionIndex)" v-if="id" />
			<template v-for="(data, index) in senate20_3.list" v-if="(!id || id === (betterURL(data.name[1]) + '-' + betterURL(data.name[2])))">
				<candidate-answer :key="'cand_' + index" :data="data" :answer="questionIndex" v-if="id || (data.answers && data.answers[questionIndex])" />
			</template>
		</div>
		<div class="part" v-if="id && senate20_3">
			<h2><a name="profil"></a><person-name :data="getCandidate().name" /></h2>
			<candidate-detail v-for="(data, index) in senate20_3.list" v-if="id === (betterURL(data.name[1]) + '-' + betterURL(data.name[2]))" :data="data" :key="'cand1_' + index" />
		</div>
	</div>
	<div class="goto" v-if="id">
		<router-link to="/otazky-pro-kandidaty">&larr; Porovnat odpovědi</router-link>
	</div>
	<div class="goto">
		<router-link to="/">&larr; Na úvodní stránku</router-link>
	</div>
</div>
