.in-short {
  display: none;

  .short & {
    display: inline;
  }
}

.short .in-normal {
  display: none;
}

.in-full {
  display: none;

  .full & {
    display: inline;
  }
}

@media (min-width: 40rem) {
  .short {
    .in-normal {
      display: inline;
    }
    .in-short {
      display: none;
    }
  }
}
