<div class="candidate-detail center" :class="{'has-photo': data.photo}">
	<div class="candidate-icon">
		<div class="candidate-image" v-if="data.photo">
			<router-link :to="'/otazky-pro-kandidaty/' + betterURL(data.name[1]) + '-' + betterURL(data.name[2])" class="is-span">
				<img :src="$store.state.server + '/' + data.photo">
			</router-link>
		</div>
		<div class="candidate-initials" v-if="!data.photo">
			<router-link :to="'/otazky-pro-kandidaty/' + betterURL(data.name[1]) + '-' + betterURL(data.name[2])" class="is-span" tag="div" style="border: none">
				<div class="initials" :style="{'border-color': color, color: color}">
					<div class="initials-content">
						<span>{{ data.name[1].charAt(0) }}</span><span>{{ data.name[2].charAt(0) }}</span>
					</div>
				</div>
			</router-link>
		</div>
	</div>
	<div class="candidate-data">
		<div class="box" :style="{'border-left': '3px solid ' + color}">
			<div class="box-content">
				<h3>
					<router-link :to="'/otazky-pro-kandidaty/' + betterURL(data.name[1]) + '-' + betterURL(data.name[2])" class="is-span">
						<person-name :data="data.name" />
					</router-link>
				</h3>
				<p v-if="!compact">
					<span v-if="data.program">
						<b>
							<outbound-link :href="data.program" content="Program" :addon="false" :look="'border: none; background: ' + color + '; color: #fff; padding: .8em 1em; font-size: .9rem; border-radius: 4px'" />
						</b>
					</span>
					<span v-if="!data.program">
						<em class="dimm">program nenalezen</em>
					</span>
					<span v-if="data.answers">
						<b>
							<router-link :to="'/otazky-pro-kandidaty/' + betterURL(data.name[1]) + '-' + betterURL(data.name[2])" content="Program" :addon="false" :style="'border: none; background: #fc0; color: #444; padding: .8em 1em; font-size: .9rem; border-radius: 4px'">Odpovědi</router-link>
						</b>
					</span>
					<span v-if="!data.answers">
						<em class="dimm">&middot; bez odpovědí</em>
					</span>
				</p>
				<div class="compact-member dimm" v-if="compact">
					<div v-if="data.nominee">
						<span v-if="typeof data.nominee === 'string'">{{ data.nominee }}</span>
						<span v-if="typeof data.nominee === 'number'">
							<party-name-with-dot :reg="data.nominee" :alwaysShort="true" />
						</span>
					</div>
				</div>
				<div class="compact-actions">
					<router-link :to="'/otazky-pro-kandidaty/' + betterURL(data.name[1]) + '-' + betterURL(data.name[2])" v-if="data.answers">
						<img src="/static/icon/answers.svg">
					</router-link>
				</div>
				<div class="compact-program">
					<outbound-link :href="data.program" :addon="false" :look="'border: none'" v-if="data.program" class="program-icon">
						<img src="/static/icon/www.svg" class="rnd" :style="{background: color}">
					</outbound-link>
				</div>
			</div>
		</div>
	</div>
</div>
