h3 {
  margin: 0 0 .25em 0;

  @media (min-width: 60rem) {
    margin: 0 0 .5em 0;
  }
}

.logo-item + .logo-item {
  margin-left: -1.5rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list {
  margin: 0 -2.5rem;

  @media (min-width: 40rem) {
    margin: 0;
  }
}

.list li + li {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #eee;

  @media (min-width: 60rem) {
    margin-top: 2em;
    padding-top: 2em;
  }
}

.item {
  display: flex;

  .photo > img {
    display: block;
    width: 4rem;
    margin-right: 1rem;
    border-radius: 8px;
    border: 1px solid #eee;

    @media (min-width: 40rem) {
      width: 4rem;
    }

    @media (min-width: 60rem) {
      margin-right: 2rem;
    }
  }
}

.photo {
  margin-right: 1rem;
  position: relative;

  @media (min-width: 60rem) {
    margin-right: 2rem;
  }
}

.fm {
  flex: 1;
  display: block;
}

.tiny-icon {
  position: absolute;
  right: -.5rem;
  top: -.5rem;

  img {
    border: none;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.actions {
  margin-top: .5rem;
}

.actions .button:not(:hover)  {
  background: #f4f4ff;
}
