<div class="list-main-towns">
	<div class="columns">
		<div class="item" v-for="(obj, index) in towns.capital">
			<router-link :to="'/vysledky/obec/' + obj.num + '-' + betterURL(obj.name)">
				<strong>{{ obj.name }}</strong>
			</router-link>
		</div>
		<h3>Krajská města</h3>
		<div class="item" v-for="(obj, index) in towns.regional">
			<router-link :to="'/vysledky/obec/' + obj.num + '-' + betterURL(obj.name)">
				{{ obj.name }}
			</router-link>
		</div>
		<h3>Ostatní velká města</h3>
		<div class="item" v-for="(obj, index) in towns.other">
			<router-link :to="'/vysledky/obec/' + obj.num + '-' + betterURL(obj.name)">
				{{ obj.name }}
			</router-link>
		</div>
	</div>
</div>
