#app{
  font-family: SegoeUI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

blockquote {
	text-align: center;
	font-family: serif;
		font-style: italic;
		font-size: 1.25rem;
		padding: 0 3rem 3rem;
		margin: 0;
}

a, .is-link {
	color: #11457e;
	text-decoration: none;
	border-bottom: 1px solid #ddd;

	transition: border-bottom-color .3s;

	&:hover {
		cursor: pointer;
		border-bottom-color: #11457e;
		cursor: pointer;
	}
}

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
}

hr {
	display: block;
	margin: 1rem 0;
	border: none;
	height: 1px;
	background: #ccc;
}

.content {
	max-width: 60rem;
	margin: auto;
	padding: 0 2rem;
}

button, .button {

	position: static;
	display: inline-block;
	top: 0;
	right: 0;
	// border: 1px solid #eee;
	font-size: 1rem;
	// text-transform: uppercase;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
	border-radius: 2px;
	background: #11457e;
	color: #fff;
	font-weight: bold;
	padding: .5em 1em;

	&:hover {
		cursor: pointer;
		// border: 1px solid #ddd;
		box-shadow: 0 1px 1px rgba(0,0,0,.33);
		background: darken(#11457e, 5%);
	}

	&.button-secondary {
		background: #f4f4f4;
		color: #444;

		&:hover {
			background: #fafafa;
			color: #222;
		}
	}

}

h1 {
	margin: 0;
	line-height: 1.1;
	padding: 0 0 .25em;
}

p {
	margin: 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	padding: 0 0 1em;
	max-width: 35rem;
	margin: auto;
	text-align: center;
}

h1 a {
	color: #D7141A;
	font-size: 1.33rem;

	&:hover {
		border-bottom-color: #D7141A;
	}
}

h2 {
	text-align: center;
	padding-bottom: 2em;
}

small {
	font-weight: normal;
	font-size: .8rem;
	color: #aaa;
}

.cross {
	margin-top: 3rem;
}

.dimm {
	color: #ccc;
	font-weight: normal;
}

.red {
	color: #D7141A;
}

a.red:hover {
	border-color: #D7141A;
}

hr {
	width: 5rem;
	display: block;
}

.icon span {
	width: 3rem;
}

.icon > a img {
	opacity: 1;
	// transition: all .75s;
}

table:hover tr:not(:hover) .icon > a img {
	opacity: .25;
}

.loading {
	text-align: center;
	padding: 10rem 0;
	padding: 33vh 0;
}

.block {

	padding: 2rem 0;
	position: relative;
	max-width: 40rem;
	margin: auto;

	& + .block {
		border-top: 1px solid #eee;
	}

	@media (min-width: 40rem) {
		padding: 4rem 0;
	}
}

.block:first-child {
	padding-top: 0;
	border-top: none;
}

.block:last-child {
	padding-bottom: 0;
}

.links li {
	display: block;
	margin: 1em auto 0;
	text-align: center;
	font-weight: bold;
}

.icon-social {
	display: inline-block;
	margin-right: .5em;

	img {
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		overflow: hidden;
		margin: auto;
	}
}

.highlight {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 0 2rem;

	a {
		border-bottom: none;
	}

	img {
		width: 7rem;
		height: 7rem;
		display: block;
		border-radius: 100%;
		border: 5px solid #fff;
		margin: 0 auto 1rem;
		box-shadow: 0 2px 6px #bbb;
	}

	> li {
		width: 8rem;
		text-align: center;
		padding-bottom: 2rem;
	}

	span {
		display: inline-block;
		font-weight: bold;
	}

	@media (min-width: 42rem) {

		padding: 4rem 0;

		img {
			width: 12rem;
			height: 12rem;
			box-shadow: 0 4px 16px #bbb;
			border: 4px solid #fff;

			transition: box-shadow .5s;

			&:hover {
				box-shadow: 0 4px 16px rgba(#11457e, .5);
			}
		}

		> li {
			width: 14rem;
		}
	}

	+ .block {
		padding-top: 0;
	}
}
