@import "./reset.css";
@import "./type.scss";
@import "./table.scss";

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 0;
}

a, .is-link {
	color: #003399;
	text-decoration: none;
	border-bottom: 1px solid #ddd;

	transition: border-bottom-color .3s;

	&:hover {
		cursor: pointer;
		border-bottom-color: #003399;
	}
}

.dark-links a {
	color: #000;
}

.btns {
	margin: 1rem 0 0;
}

button, .button, .btn {

	position: static;
	display: inline-block;
	font-size: .8rem;
	border-radius: 2px;
	color: #003399;
	font-weight: bold;
	padding: .75em 1.25em;
	border-radius: 4px;
	border: 1px solid #003399;
	background: #fff;

	transition: all .33s;

	&:hover {
		cursor: pointer;
		background: rgba(#003399, .1);
	}

	&.button-secondary {
		border-color: #eee;
		color: #003399;

		&:hover {
			background: #f7f7f7;
			border-color: #ddd;
		}
	}

	&.button-primary {
		border-color: #003399;
		color: #fff;
		background: #003399;

		&:hover {
			background: #ffcc00;
			color: #039;
		}
	}

	&.button-lined {

		button + & {
			margin-left: 1rem;
			border-color: transparent;
			border-bottom-color: #ddd;
			border-radius: 0;
			padding-left: 0;
			padding-right: 0;
			position: relative;

			&:hover {
				border-bottom-color: #003399;
				background: #fff;
			}
		}
	}

	&.button-plain {
		border: 1px solid transparent;
	}

	&[disabled] {
		border: 1px solid #eee;
		color: #ccc;
		background: #fff;
		// font-weight: normal;
		box-shadow: none;
	}

	&:focus,
	&:active {
		outline: none;
	}

}

.is-span {
	border-bottom: 1px solid #eee;
	color: #000;
}

.btns-switch {
	display: flex;
	justify-content: center;
	padding: 1rem 0;

	button {
		border-radius: 0;
		margin: 0;
		display: block;

		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&.active {
			color: #333;
			background: rgba(#000000, .05);
		}
	}

	button + button {
		border-left: none;
	}
}

.block {

	padding: 2rem;
  position: relative;
  max-width: 60rem;
  margin: auto;

	& + .block {
		border-top: 1px solid #eee;
	}

	@media (min-width: 40rem) {
		padding: 2rem;
	}
}

.block:first-child {
	padding-top: 0;
}

.block:last-child {
	padding-bottom: 0;
}

.part + .part {
	position: relative;
	padding-top: 4rem;

	@media (min-height: 60rem) {
		// padding-top: 6rem;

		h2 {
			// padding-bottom: 4rem;
		}
	}
}

.columns {
	@media (min-width: 40rem) {
		columns: 2;
		column-gap: 2rem;

		& > * {
	    break-inside: avoid-column;
			page-break-inside: avoid;
	    padding-bottom: .2em;
		}
	}

	@media (min-width: 60rem) {
		columns: 3;
	}
}

.columns-2 {

	& > * + * {
		border-top: 1px solid #eee;
	}

	@media (min-width: 50rem) {
		columns: 2;
		column-gap: 4rem;

		& > * {
	    break-inside: avoid-column;
			page-break-inside: avoid;
	    padding-bottom: 2em;
		}

		& > * + * {
			border-top: none;
		}
	}
}

.columns-2-3 {
	columns: 2;
	column-gap: 1rem;

	@media (min-width: 50rem) {
		columns: 3;

		& > * {
	    break-inside: avoid-column;
			page-break-inside: avoid;
	    padding-bottom: .2em;
		}

		.stats & li:first-child {
			border-top: 1px solid #f4f4f4;
		}
	}
}

.columns-3 {
	@media (min-width: 40rem) {
		columns: 2;
		column-gap: 2rem;

		& > * {
	    break-inside: avoid-column;
			page-break-inside: avoid;
	    padding-bottom: .2em;
		}
	}

	@media (min-width: 50rem) {
		columns: 3;

		.stats & li:first-child {
			border-top: 1px solid #f4f4f4;
		}
	}
}

.links-icons {
	padding: .5rem 0;

	a {
		border: none;
		margin: 0 .25rem 0 0;
	}
}

.max-40rem {
	@media (min-width: 40rem) {
		display: none !important;
	}
}

.min-40rem {

	display: none !important;

	@media (min-width: 40rem) {
		display: inherit !important;
	}
}

.nav {
	margin: -2rem -2rem 2rem -2rem;
	padding: 2rem;
	border-bottom: 1px solid #eee;
}

.nav-bottom {
	margin: 4rem -2rem -2rem -2rem;
	padding: 2rem;
	border-top: 1px solid #eee;
}

.show-40rem {
	display: none;

	@media (min-width: 40rem) {
		display: inherit;
	}
}

.hide-40rem {
	@media (min-width: 40rem) {
		display: none !important;
	}
}

.show-50rem {
	display: none;

	@media (min-width: 50rem) {
		display: inherit;
	}
}

.hide-50rem {
	@media (min-width: 50rem) {
		display: none !important;
	}
}

.show-60rem {
	display: none;

	@media (min-width: 60rem) {
		display: inherit;
	}
}

.hide-60rem {
	@media (min-width: 60rem) {
		display: none !important;
	}
}

.stats {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul > li {
		padding: .5em 0;
		display: flex;
		align-items: baseline;
	}

	&.heavy ul > li {
		padding: 1em 0;
	}

	ul > li {
		border-top: 1px solid #f4f4f4;
	}

	label {
		width: 3.5rem;
		font-size: 10px;
		font-weight: bold;
		color: #888;
		text-transform: uppercase;

		@media (min-width: 40rem) {
			width: 6rem;
		}
	}

	label + div {
		flex: 1;
		padding-right: 1em;
	}

	div + label {
		text-align: right;
		flex: 1;
	}
}

.box {
	margin: 0 -1.5rem;
	box-shadow: 0 5px 15px #ddd;
	padding: 1.5rem;
}

.info-box {
	border-left: 3px solid #f00;
	background: #fafafa;
	padding: 1rem;
	margin: 6rem 0;
}

.answer {
	p {
	  margin: 0;
	}

	p + p {
	  margin-top: 1em;
	}
}

.split-1-1 {
	display: flex;
	flex-wrap: wrap;

	& > * {
		width: 100%;
	}

	@media (min-width: 40rem) {
		& > :first-child {
			width: 50%;
		}

		& > :last-child {
			width: 50%;
		}
	}
}

.split-2-3 {
	display: flex;
	flex-wrap: wrap;

	& > * {
		width: 100%;
	}

	@media (min-width: 40rem) {
		& > :first-child {
			width: 40%;
		}

		& > :last-child {
			width: 60%;
		}
	}
}

.split-2-1 {
	display: flex;
	flex-wrap: wrap;

	& > * {
		width: 100%;
	}

	@media (min-width: 40rem) {
		& > :first-child {
			width: 67%;
		}

		& > :last-child {
			width: 33%;
		}
	}
}

.split-1-2 {
	display: flex;
	flex-wrap: wrap;

	& > * {
		width: 100%;
	}

	@media (min-width: 40rem) {
		& > :first-child {
			width: 33%;
		}

		& > :last-child {
			width: 67%;
		}
	}
}



iframe {
	width: 100%;
	height: 20rem;

	@media (min-width: 40rem) {
		height: 35rem;
	}
}
