<div class="search-all-towns">
	<div class="form">
		<div class="form-input center">
			<input type="search" v-model="query" class="form-input-text" placeholder="Hledat">
		</div>
	</div>
	<div class="results columns">
		<div class="result" v-for="(result, index) in prominent" @click="clear">
			<party-name-with-dot :reg="result.reg" :alwaysName="true" />
		</div>
		<div class="result" v-for="(result, index) in others" @click="clear">
			<party-name-with-dot :reg="result.reg" :alwaysName="true" />
		</div>
	</div>
	<template v-if="coalitionResult.length > 0">
		<h3>Nalezeno také ve stranách koalic</h3>
		<div class="results columns">
			<div class="result result-coalition" v-for="(result, index) in coalitionResult">
				<coalition-item :reg="result.reg" />
			</div>
		</div>
	</template>
</div>
